@model IEnumerable<FridgeV2.Models.ProductInFridge>

@{
    ViewBag.Title = "Холодильник";
}

<div class="row">
    <div class="col-3">
        <div class="control-button">
            <a asp-controller="ProductsInFridge" asp-action="Create" class="btn btn-success">Добавить продукт в онлайн холодильник</a>
        </div>
        <div class="control-button">
            <a asp-controller="Shops" asp-action="CreateCustomShop" class="btn btn-primary">Добавить свой магазин</a>
        </div>
        <div class="control-button">
            <a asp-controller="Products" asp-action="CreateCustomProduct" class="btn btn-primary">Добавить свой продукт</a>
        </div>
        <div class="control-button">
            <a asp-controller="GeneralFridge" asp-action="SharedFridge" class="btn btn-primary">Поделиться холодильником с другим пользователем</a>
        </div>
    </div>

    <div class="col-9">
        <div id="maintest2">
            <div class="maintest-text">
                <h4>Ваш онлайн холодильник:</h4>
                <span> </span>
                <h6>
                    Сортировать по: <a asp-controller="ProductsInFridge" asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">Названию</a><span> | </span>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.AgeSort">Сроку годности</a>
                </h6>
            </div>
        </div>

        <table id="tabletest" class="table">
            <tr>
                <td>
                    <h6>Продукт:</h6>
                </td>

                <td>
                    <h6>Годен до:</h6>
                </td>

                <td>
                    <h6>Испортится через:</h6>
                </td>

                <td></td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="ProductsInFridge" asp-route-id="@item.Id">
                            <h6>@item.Product.Name</h6>
                        </a>
                    </td>

                    @if (item.ExpirationDate == default)
                    {
                        <td>
                            Срок годности не введен
                        </td>
                    }
                    else
                    {
                        <td>@item.ExpirationDate.ToString("d")</td>
                    }

                    @if (item.ExpirationDate.Subtract(DateTime.Today).TotalDays >= 0)
                    {
                        if (item.ExpirationDate.Subtract(DateTime.Today).TotalDays >= 0 && @item.ExpirationDate.Subtract(DateTime.Today).TotalDays <= 20)
                        {
                            if (item.ExpirationDate.Subtract(DateTime.Today).TotalDays == 0)
                            {
                                <td>@item.ExpirationDate.Subtract(DateTime.Today).TotalDays дней</td>
                            }
                            else if (item.ExpirationDate.Subtract(DateTime.Today).TotalDays == 1)
                            {
                                <td>@item.ExpirationDate.Subtract(DateTime.Today).TotalDays день</td>
                            }
                            else if (item.ExpirationDate.Subtract(DateTime.Today).TotalDays >= 2 && @item.ExpirationDate.Subtract(DateTime.Today).TotalDays <= 4)
                            {
                                <td>@item.ExpirationDate.Subtract(DateTime.Today).TotalDays дня</td>
                            }
                            else if (item.ExpirationDate.Subtract(DateTime.Today).TotalDays >= 5 && @item.ExpirationDate.Subtract(DateTime.Today).TotalDays <= 20)
                            {
                                <td>@item.ExpirationDate.Subtract(DateTime.Today).TotalDays дней</td>
                            }
                        }
                        else if (@item.ExpirationDate.Subtract(DateTime.Today).TotalDays > 20)
                        {
                            string str = @item.ExpirationDate.Subtract(DateTime.Today).TotalDays.ToString();
                            int m = str[^1];
                            if (m == 0)
                            {
                                <td>@item.ExpirationDate.Subtract(DateTime.Today).TotalDays дней</td>
                            }
                            else if (m == 1)
                            {
                                <td>@item.ExpirationDate.Subtract(DateTime.Today).TotalDays день</td>
                            }
                            else if (m >= 2 && m <= 4)
                            {
                                <td>@item.ExpirationDate.Subtract(DateTime.Today).TotalDays дня</td>
                            }
                            else
                            {
                                <td>@item.ExpirationDate.Subtract(DateTime.Today).TotalDays дней</td>
                            }
                        }
                    }
                    else
                    {
                        <td>
                            <span style="color: red;">Продукт испортился</span>
                        </td>
                    }



                    @if (@item.ExpirationDate.Subtract(DateTime.Today).TotalDays < 0)
                    {
                        <td>
                            <a asp-action="Edit" asp-controller="ProductsInFridge" asp-route-id="@item.Id">
                                <img src="~/Images/Icons/EditProduct.png" alt="Уведомления" role="button" />
                            </a>

                            <a asp-controller="FavoriteProducts" asp-action="ConfirmToAddFavoriteProductConfirm" asp-route-id="@item.ProductId">
                                <img src="~/Images/Icons/LoveProduct.png" alt="Добавить в любимые продукты" role="button" />
                            </a>

                            <a asp-action="Create" asp-controller="ShoppingListItems" asp-route-productId="@item.ProductId" asp-route-returnUrl="@Url.Action("Index", "ProductsInFridge")">
                                <img src="~/Images/Icons/AddShoppingList.png" alt="Добавить в список покупок" role="button" />
                            </a>

                            <a asp-action="Delete" asp-controller="ProductsInFridge" asp-route-id="@item.Id">
                                <img src="~/Images/Icons/ProductDelete.png" alt="Удалить" role="button" />
                            </a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-action="Edit" asp-controller="ProductsInFridge" asp-route-id="@item.Id">
                                <img src="~/Images/Icons/EditProduct.png" alt="Изменить" role="button" />
                            </a>

                            <a asp-controller="FavoriteProducts" asp-action="ConfirmToAddFavoriteProductConfirm" asp-route-id="@item.ProductId">
                                <img src="~/Images/Icons/LoveProduct.png" alt="Добавить в любимые продукты" role="button" />
                            </a>

                            <a asp-action="Delete" asp-controller="ProductsInFridge" asp-route-id="@item.Id">
                                <img src="~/Images/Icons/ProductDelete.png" alt="Удалить" role="button" />
                            </a>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
