@model IEnumerable<FridgeV2.Models.ProductInFridge>

@{
    ViewBag.Title = "Холодильник";
}
<html>
<head>
    <style>
        divtest2 {
            margin: 10px;
            border: 1px solid black;
            font-size: 20px;
            height: 80px;
        }

        #sidebartest2 {
            float: left;
            width: 200px;
            height: 200px;
        }

        #maintest2 {
            background-color: #f7f1e3;
            height: 70px;
            margin-left: 220px; /* 150px (ширина сайдбара) + 10px + 10px (2 отступа) */
            box-shadow: 10px 10px 10px rgba(0,0,0,0.19);
        }

        .maintest-text{
            padding-left:25px;
        }

        #formtest1 {
            width: 200px;
            height: 50px;
            padding-bottom: 20px;
        }

        #formtest3 {
            width: 200px;
            height: 50px;
            padding-top: 20px;
        }

        #formtest2 {
            width: 200px;
            height: 50px;
            padding-top: 20px;
        }

        #tabletest {
            margin-top:35px;
            background-color: #f7f1e3;
            box-shadow: 10px 10px 10px rgba(0,0,0,0.19);
        }
    </style>
</head>
<body>
    <div id="sidebartest2">
        <form id="formtest1">
            <button asp-controller="ProductsInFridge" asp-action="Create" class="btn btn-success">Добавить продукт в онлайн холодильник</button>
        </form>
        <form id="formtest3">
            <button asp-controller="Shops" asp-action="CreateCustomShop" class="btn btn-primary">Добавить свой магазин</button>
        </form>
        <form id="formtest2">
            <button asp-controller="Products" asp-action="CreateCustomProduct" class="btn btn-primary">Добавить свой продукт</button>
        </form>
    </div>
    <div id="maintest2">
        <div class="maintest-text">
            <h4>Ваш онлайн холодильник:</h4>
        <span> </span>
        <h6>Сортировать по: <a asp-controller="ProductsInFridge" asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">Названию</a><span> | </span>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.AgeSort">Сроку годности</a></h6>
        </div>
        <table id="tabletest" class="table">
            <tr>
                <td><h6>Продукт:</h6></td>

                <td><h6>Годен до:</h6></td>

                <td><h6>Испортится через:</h6></td>

                <td></td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a asp-action="Details" asp-controller="ProductsInFridge" asp-route-id="@item.Id"><h6>@item.Product.Name</h6></a></td>

                    @if (@item.ExpirationDate == default)
                    {
                        <td><font color="black">Срок годности не введен</font></td>
                    }
                    else
                    {
                        <td>@item.ExpirationDate.ToString("d")</td>
                    }

                    @if (@item.ExpirationDate.Subtract(DateTime.Today).TotalDays >= 0)
                    {
                        if (@item.ExpirationDate.Subtract(DateTime.Today).TotalDays >= 0 && @item.ExpirationDate.Subtract(DateTime.Today).TotalDays <= 20)
                        {
                            if (@item.ExpirationDate.Subtract(DateTime.Today).TotalDays == 0)
                            {
                                <td>@item.ExpirationDate.Subtract(DateTime.Today).TotalDays дней</td>
                            }
                            else if (@item.ExpirationDate.Subtract(DateTime.Today).TotalDays == 1)
                            {
                                <td>@item.ExpirationDate.Subtract(DateTime.Today).TotalDays день</td>
                            }
                            else if (@item.ExpirationDate.Subtract(DateTime.Today).TotalDays >= 2 && @item.ExpirationDate.Subtract(DateTime.Today).TotalDays <= 4)
                            {
                                <td>@item.ExpirationDate.Subtract(DateTime.Today).TotalDays дня</td>
                            }
                            else if (@item.ExpirationDate.Subtract(DateTime.Today).TotalDays >= 5 && @item.ExpirationDate.Subtract(DateTime.Today).TotalDays <= 20)
                            {
                                <td>@item.ExpirationDate.Subtract(DateTime.Today).TotalDays дней</td>
                            }
                        }
                        else if (@item.ExpirationDate.Subtract(DateTime.Today).TotalDays > 20)
                        {
                            string str = @item.ExpirationDate.Subtract(DateTime.Today).TotalDays.ToString();
                            string n = str[str.Length - 1].ToString();
                            int m = Convert.ToInt32(n);
                            if (m == 0)
                            {
                                <td>@item.ExpirationDate.Subtract(DateTime.Today).TotalDays дней</td>
                            }
                            else if (m == 1)
                            {
                                <td>@item.ExpirationDate.Subtract(DateTime.Today).TotalDays день</td>
                            }
                            else if (m >= 2 && m <= 4)
                            {
                                <td>@item.ExpirationDate.Subtract(DateTime.Today).TotalDays дня</td>
                            }
                            else
                            {
                                <td>@item.ExpirationDate.Subtract(DateTime.Today).TotalDays дней</td>
                            }
                        }

                    }
                    else
                    {
                        <td><font color="red">Продукт испортился</font></td>
                    }



                    @if (@item.ExpirationDate.Subtract(DateTime.Today).TotalDays < 0)
                    {
                        <td>
                            <a asp-action="Edit" asp-controller="ProductsInFridge" asp-route-id="@item.Id"><img src="~/Images/Icons/EditProduct.png" alt="Уведомления" role="button" /></a>

                            <a asp-controller="Products" asp-action="ConfirmToAddFavoriteProductConfirm" asp-route-id="@item.ProductId"><img src="~/Images/Icons/LoveProduct.png" alt="Добавить в любимые продукты" role="button" /></a>

                            <a asp-action="Create" asp-controller="ShoppingListItems" asp-route-productId="@item.ProductId" asp-route-returnUrl="@Url.Action("Index", "ProductsInFridge")"><img src="~/Images/Icons/AddShoppingList.png" alt="Добавить в список покупок" role="button" /></a>

                            <a asp-action="Delete" asp-controller="ProductsInFridge" asp-route-id="@item.Id"><img src="~/Images/Icons/ProductDelete.png" alt="Удалить" role="button" /></a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-action="Edit" asp-controller="ProductsInFridge" asp-route-id="@item.Id"><img src="~/Images/Icons/EditProduct.png" alt="Изменить" role="button" /></a>

                            <a asp-controller="Products" asp-action="ConfirmToAddFavoriteProductConfirm" asp-route-id="@item.ProductId"><img src="~/Images/Icons/LoveProduct.png" alt="Добавить в любимые продукты" role="button" /></a>

                            <a asp-action="Delete" asp-controller="ProductsInFridge" asp-route-id="@item.Id"><img src="~/Images/Icons/ProductDelete.png" alt="Удалить" role="button" /></a>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</body>
</html>