@model FridgeV2.ViewModels.Recipes.CommentUnderRecipesAndRecipesViewModel
@{
    ViewBag.Title = "Рецепт";
}

<div class="container">
    <div class="row">
        <div class="col">
            <table>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.Recipe.Name): @Html.DisplayFor(m => m.Recipe.Name)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.Recipe.Product): @Html.DisplayFor(m => m.Recipe.Product)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.Recipe.QuantityProduct): @Html.DisplayFor(m => m.Recipe.QuantityProduct)</td>
                </tr>
                <tr>
                    <td>
                        @if (Model.Recipe.UserId == ViewBag.UserId)
                        {
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Добавить продукт
                            </button>
                        }
                    </td>
                </tr>
            </table>
        </div>

        <div class="col">
            <h3>Как приготовить</h3>
            @if (Model.HowToCook != null)
            {
                <p>@Model.HowToCook.Recipe</p>
            }
            else
            {
                <p>Добавьте рецепт блюда!</p>
                @if (Model.Recipe.UserId == ViewBag.UserId)
                {
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#HowToCook">
                        Добавить рецепт
                    </button>
                }
            }
        </div>

        <div class="col">
            <h3>Отзывы</h3>
            <div>
                <div class="row">
                    <div class="col">
                        @if (Model.Comments is { Count: > 0 })
                        {
                            @foreach (var item in Model.Comments)
                            {
                                <div class="reviews-box">
                                    <h6>@Html.DisplayFor(_ => item.Username)</h6>
                                    <p>@Html.DisplayFor(_ => item.Comment)</p>
                                </div>
                            }
                        }
                        else
                        {
                            <p>Пока отзывов нет!</p>
                        }
                    </div>
                    <div class="col">
                    </div>
                    <div class="row">
                        <div class="col">
                        </div>
                    </div>
                </div>
            </div>

            <h3>Оставить свой отзыв</h3>
            <form asp-action="AddComment" asp-controller="RecipesList">
                @Html.HiddenFor(m => m.NewComment.RecipeId)
                <textarea asp-for="NewComment.Comment" cols="40" rows="3"></textarea>
                <p>
                    <input type="submit" value="Отправить">
                    <input type="reset" value="Очистить">
                </p>
            </form>
        </div>
    </div>
</div>

<!-- Modal Recipe -->
<div class="modal fade" id="HowToCook" tabindex="-1" aria-labelledby="howToCookModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="howToCookModalLabel">Рецепт блюда</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="HowToCookAdd" asp-controller="RecipesList">
                    @Html.HiddenFor(m => m.NewHowToCook.RecipeId)
                    <textarea asp-for="NewHowToCook.Recipe" cols="60" rows="3"></textarea>
                    <p>
                        <input type="submit" value="Отправить">
                        <input type="reset" value="Очистить">
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
